<nav class="navbar navbar-default navbar-fixed-top">
    <div class="navbar-header">
        <a class="navbar-brand" href="#">
            <p>Login Page</p>
        </a>
    </div>
    <div class="container">
        <p class="navbar-text navbar-right">PVD Plus</a>
        </p>
    </div>
</nav>