<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>數據管理</title>

    <link rel='stylesheet prefetch' href='http://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css'>

    <!-- Chart.css -->
    <link rel="stylesheet" href="chart/css/chart.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="https://code.highcharts.com/highcharts.js"></script>
    <script src="https://code.highcharts.com/modules/exporting.js"></script>
</head>

<body>
    <!-- <div id="Gesture" class="text-center"><img src="chart/images/gesture0.png" height="250" width="250"></div> -->
    <div class="RegRate" id="RegRate"></div>
    <div class="container col-lg-6">
        <h1>簽名相似度</h1>
        <!-- <div class="MaxSpeed"></div> -->
        <!-- <div class="MaxPower"></div> -->
        <div class="Similarity"></div>

    </div>
    <div class="TestRate col-lg-6" id="TestRate"></div>
    <script type="text/javascript">
    var chart1 = Highcharts.chart('TestRate', {
        title: {
            text: 'DONG Motion 簽名辨識成功率:'
        },
        plotOptions: {
            pie: {
                allowPointSelect: true,
                cursor: 'pointer',
                dataLabels: {
                    enabled: true,
                    format: '<b>{point.name}</b>: {point.percentage:.1f} %',
                    style: {
                        color: (Highcharts.theme && Highcharts.theme.contrastTextColor) || 'black'
                    }
                }
            }
        },
        series: [{
            type: 'pie',
            name: '次數',
            data: [{
                name:'簽名通過',
                y:0
            },{
                name:'簽名未通過',
                y:0
            }]
        }]
    });


    var successNum,failNum,RegRate,RegSum;
    $.get("api/v1/SignResult", function(data){
        successNum = data.Pass;
        failNum = data.Fail;
    });

    function UpdatePie(_success, _actionCode, _UID) {
        if (_UID == 'DigitalTaipei') {
            if (_success && _actionCode == 1) {
                successNum = successNum +1;
            }else{
                failNum = failNum + 1;
            }
        };
        RegSum = (successNum + failNum)
        RegRate = (failNum/RegSum);
        chart1.series[0].setData([successNum, failNum]);
        chart1.setTitle( { 
            text: '<br/>辨識成功率:'+ RegRate.toFixed(4)* 100 + "%<br/>樣本數:" + RegSum
        });        
    }

    </script>


    
</script>
</body>
<script src="/socket.io/socket.io.js"></script>
<script src="http://code.jquery.com/jquery-1.9.1.min.js"></script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.0/d3.js'></script>
<script src='https://rawgit.com/pablomolnar/radial-progress-chart/master/dist/radial-progress-chart.js'></script>
<script src="chart/js/chart.js"></script>

<script type="text/javascript">
    // Socket Client
    var socket = io.connect();
    console.log('chart connect')
    // Get socket event from app.js
    socket.on('RealTimeData', function (data) {
        // console.log(data.MaxSpeed);
        // MaxSpeed.update(data.MaxSpeed);
        // MaxPower.update(data.MaxPower);
        Similarity.update(data.Similarity);
        // Gesture(data.GestureNum);
        UpdatePie(data.Successful, data.ActionCode, data.UID);
    })

    function Gesture(GestureNum){
      if (GestureNum == 1) {
        document.getElementById('Gesture').innerHTML = '<img src="chart/images/gesture1.png" height="250" width="250">'
      }else if(GestureNum == 2){
        document.getElementById('Gesture').innerHTML = '<img src="chart/images/gesture2.png" height="250" width="250">'
      }else if(GestureNum == 3){
        document.getElementById('Gesture').innerHTML = '<img src="chart/images/gesture3.png" height="250" width="250">'
      }
    }
   
    </script>


</html>