<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>數據管理</title>

    <link rel='stylesheet prefetch' href='http://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css'>

    <!-- Chart.css -->
    <link rel="stylesheet" href="chart/css/chart.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="https://code.highcharts.com/highcharts.js"></script>
    <script src="https://code.highcharts.com/modules/exporting.js"></script>
</head>

<body>
    <!-- <div id="Gesture" class="text-center"><img src="chart/images/gesture0.png" height="250" width="250"></div> -->
    <div class="TestRate" id="TestRate"></div>
    <div class="container">
        <div class="MaxSpeed"></div>
        <div class="MaxPower"></div>
        <div class="Similarity"></div>

    </div>
    <script type="text/javascript">
    var chart1 = Highcharts.chart('TestRate', {
        title: {
            text: 'DONG Motion 簽名辨識成功率'
        },
        plotOptions: {
            pie: {
                allowPointSelect: true,
                cursor: 'pointer',
                dataLabels: {
                    enabled: true,
                    format: '<b>{point.name}</b>: {point.percentage:.1f} %',
                    style: {
                        color: (Highcharts.theme && Highcharts.theme.contrastTextColor) || 'black'
                    }
                }
            }
        },
        series: [{
            type: 'pie',
            name: '次數',
            data: [{
                name:'簽名通過',
                y:0
            },{
                name:'簽名未通過',
                y:0
            }]
        }]
    });

    var successNum = 0;
    var failNum = 0;
    function UpdatePie(success) {
        if (success) {
            successNum = successNum +1;
        }else{
            failNum = failNum + 1;
        }
        chart1.series[0].setData([successNum, failNum]);

    }

    </script>


    <div id="containers" style="min-width: 310px; height: 400px; margin: 0 auto"></div>
    <script type="text/javascript">
    $(function () {
    var chart = new Highcharts.Chart({
        chart: {
            type: 'areaspline',
            renderTo: 'containers'
        },
        title: {
            text: 'Motion Recognition'
        },
        subtitle: {
            text: 'Source: pvd-plus.com/'
        },
        xAxis: {
            categories: [0.1, 0.2, 0.3, 0.4, 0.5, 0.6, 0.7, 0.8, 0.9, 1.0]
        },
        yAxis: {
            title: {
                text: 'Count'
            }
        },
        plotOptions: {
            areaspline: {
                fillOpacity: 0.5
            }
        },
        zoneAxis: 'y',
        series: [{
            name: 'Sample1',
            data: [1.0, 0.9, 0.5, 0.5, 0.4, 0.5, 0.2, 0.5, 0.3, 0.3]
        }, {
            name: 'Sample2',
            data: [0.9, 0.2, 0.7, 0.5, 0.9, 0.2, 1.0, 0.6, 0.2, 0.3]
        }, {
            name: 'Sample3',
            data: [0.9, 0.6, 0.3, 0.4, 0.9, 0.6, 1.0, 0.5, 0.4, 0.5]
        }]
    });
});
</script>
</body>
<script src="/socket.io/socket.io.js"></script>
<script src="http://code.jquery.com/jquery-1.9.1.min.js"></script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.0/d3.js'></script>
<script src='https://rawgit.com/pablomolnar/radial-progress-chart/master/dist/radial-progress-chart.js'></script>
<script src="chart/js/chart.js"></script>

<script type="text/javascript">
    // Socket Client
    var socket = io.connect();
    console.log('chart connect')
    // Get socket event from app.js
    socket.on('RealTimeData', function (data) {
        // console.log(data.MaxSpeed);
        MaxSpeed.update(data.MaxSpeed);
        MaxPower.update(data.MaxPower);
        Similarity.update(data.Similarity);
        // Gesture(data.GestureNum);
        UpdatePie(data.Successful);
    })

    function Gesture(GestureNum){
      if (GestureNum == 1) {
        document.getElementById('Gesture').innerHTML = '<img src="chart/images/gesture1.png" height="250" width="250">'
      }else if(GestureNum == 2){
        document.getElementById('Gesture').innerHTML = '<img src="chart/images/gesture2.png" height="250" width="250">'
      }else if(GestureNum == 3){
        document.getElementById('Gesture').innerHTML = '<img src="chart/images/gesture3.png" height="250" width="250">'
      }
    }
   
    </script>


</html>