<!DOCTYPE html>
<html >
  <head>
    <meta charset="UTF-8">
    <title>數據管理</title>
    
    <link rel='stylesheet prefetch' href='http://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css'>

    <!-- Chart.css -->
    <link rel="stylesheet" href="chart/css/chart.css">

  </head>

  <body>

    <div class="container">
      <div class="MaxSpeed"></div>
      <div class="MaxPower"></div>
      <div class="Similarity"></div>

    </div>

  </body>
  <script src="/socket.io/socket.io.js"></script>
  <script src='https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.0/d3.js'></script>
  <script src='https://rawgit.com/pablomolnar/radial-progress-chart/master/dist/radial-progress-chart.js'></script>
  <script src="chart/js/chart.js">
  </script>
  <script type="text/javascript">
  // Socket Client
  var socket = io.connect();
  console.log('chart connect')
  // Get socket event from app.js
  socket.on('NumData', function (data) {
    // console.log(data.MaxSpeed);
    MaxSpeed.update(data.MaxSpeed);
    MaxPower.update(data.MaxPower);
    Similarity.update(data.Similarity);


  })
  </script>

</html>
