<!DOCTYPE html>
<html lang="en">

<head>

	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="">
	<meta name="author" content="">

	<title>
		<%= title %>
	</title>

	<!-- Bootstrap Core CSS -->
	<link href="../admin_page/css/bootstrap.min.css" rel="stylesheet">

	<!-- Custom CSS -->
	<link href="../admin_page/css/sb-admin.css" rel="stylesheet">

	<!-- Morris Charts CSS -->
	<link href="../admin_page/css/plugins/morris.css" rel="stylesheet">

	<!-- Custom Fonts -->
	<link href="../admin_page/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">

	<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
	<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
	<!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
	<script src="https://code.jquery.com/jquery-1.11.3.min.js"></script>
	<script>
        $(document).ready(function(){
            var serverPath = "http://localhost:3004/";
			var User = "<%= userName %>";
			var socket = io('/DongService');
			// socket.on('hi', function (message) {
			// 	alert(message);
			// })
			socket.on('other_try_login', function (data) {
				alert(data.msg);
			})
			socket.on('other_logined', function (data) {
				alert(data.msg);
				//$("#logout-submit").click();
				$.post(serverPath + "users/forcelogout",{
					sid : data.sid
					},function(data){
						window.location.replace(data.Index);
				});
			})
			var Product;
            $("#logout-submit").on("click", function(event){
                event.preventDefault();
				$.get(serverPath + "users/logout",function(data){  
					if(!data.Error) {
						window.location.replace(data.Index);
					//alert(data.Message);
					} else {
						alert(data.Error);
					}
            	});
        	});
			$(".addPattern").on("click", function(event){
                event.preventDefault();
				Product = _getProductName($(this), "addPattern");
				$.post(serverPath + "users/addPattern",{
					Product : Product, User : User
					},function(data){
						$("#mainTop").html(data);
				});
        	});
			$(".patternList").on("click", function(event){
                event.preventDefault();
				Product = _getProductName($(this), "patternList");
				$.post(serverPath + "users/getPatternList",{
					Product : Product, User : User
					},function(data){
						$("#mainTop").html(data);
				});
        	});
			$(".records").on("click", function(event){
                event.preventDefault();
				alert(_getProductName($(this), "records"));
        	});
			$(".motion").on("click", function(event){
                event.preventDefault();
				alert(_getProductName($(this), "motion"));
        	});
			var _getProductName = function(self, className){
				var ClassArr = self.attr("class").split(' ');
				ClassArr.splice(ClassArr.indexOf(className), 1);
				ClassArr.splice(ClassArr.indexOf("products"), 1);
				var Product = ClassArr[0];
				return Product;
			}
        });
        
    </script>
</head>

<body>

	<div id="wrapper">

		<% include ../views/adminNav %>

			<div id="page-wrapper">

				<div class="container-fluid">

					<!-- Page Heading -->
					<div class="row">
						<div class="col-lg-12">
							<h1 class="page-header">
								DONG Motion <small>Monitor</small>
							</h1>

						</div>
					</div>
					<!-- /.row -->

					<div class="row">
						<div class="col-lg-12" id="mainTop">
							<% include ../views/adminPie %>
						</div>
					</div>
					<div class="row">
						<div class="col-lg-12" id="mainBottom">
							<% include ../views/adminTable %>
						</div>
					</div>




				</div>
				<!-- /.container-fluid -->

			</div>
			<!-- /#page-wrapper -->

	</div>
	<!-- /#wrapper -->

	<!-- jQuery -->
	<script src="../admin_page/js/jquery.js"></script>

	<!-- Bootstrap Core JavaScript -->
	<script src="../admin_page/js/bootstrap.min.js"></script>

	<!-- Morris Charts JavaScript -->
	<script src="../admin_page/js/plugins/morris/raphael.min.js"></script>
	<script src="../admin_page/js/plugins/morris/morris.min.js"></script>
	<script src="../admin_page/js/plugins/morris/morris-data.js"></script>





</body>

</html>