<form action="/api/iOS" method="post">
    <div>
        <label for="name">User</label>
        <input type="text" id="name" name="User" value="BigQ" />
    </div>
    <div>
        <label for="name">RawCode</label>
        <input type="text" id="name" name="RawCode" value="[6,6,1,2,5,3,2,0]" />
    </div>
    
    
    <div class="button">
        <button type="submit">Send your message</button>
    </div>
</form>