 body {
   background: black;
   margin: 0 auto;
 }
 
 .container {
   text-align: center;
 }
 
 .container div {
   display: inline-block;
   padding: 20px;
 }
 
 .rbc-label-start {
   font-family: fontawesome;
   font-weight: bold;
   font-size: 30px;
 }
 
 .rbc-center-text {
   font-family: 'Roboto', 'Myriad Set Pro', 'Lucida Grande', 'Helvetica Neue', Helvetica, Arial;
   fill: white;
 }
 
 .MaxSpeed .rbc-center-text-line0 {
   font-size: 95px;
 }
 .MaxPower .rbc-center-text-line0 {
   font-size: 95px;
 }
 .Similarity .rbc-center-text-line0 {
   font-size: 95px;
 }
 .MaxSpeed .rbc-center-text-line1 {
   font-size: 20px;
 }
 
 .gpa .rbc-center-text-line0 {
   font-size: 30px;
 }